<h2>Links auf diese Seite</h2>

<table class="tabulatr_table">
  <tr>
    <th>A:Title</th>
    <th>A:nofollow</th>
    <th colspan="2">A:url</th>
    <th># Backlinks von hier</th>
  </tr>
  <% @couples.each do |page_id,items| 

    item = items.first
    count = items.count
%>
  <tr>
    <td><%=truncate item.title, :length => 70 %></td>
    <td><%= item.no_follow %></td>
    <td><%= link_to truncate(item.from_page.url, :length => 70), item.from_page.url, :target => "_blank" %> </td>
    
    <td>
      <%= link_to item.from_page do %>
        <%= image_tag "/images/search_button_16.png" %>
      <% end %>
    </td>
    <td><%=count %></td>
  
  </tr>
<% end %>
</table>
