<h2>Links auf diese Seite</h2>

<table class="tabulatr_table">
  <tr>
    <th><acronym title="Titel Attribut des zeigenden Links">A:Title</acronym></th>
    <th><acronym title="Text/Beschreibung des Links">A:InnerText</acronym></th>
    <th>A:nofollow?</th>
    <th colspan="2">A:url</th>
    <th># Backlinks von hier</th>
  </tr>
  <% @couples.each do |page_id,items| 

    item = items.first
    count = items.count
%>
  <tr>
    <td><acronym title="<%=item.title %>">
        <%=truncate item.title, :length => 40 %>
    </acronym></td>
    <td><acronym title="<%=item.title %>"><%=truncate item.inner_text, :length => 40 %></acronym></td>
    <td><%= item.no_follow %></td>
    <td><%= format_page item.from_page %> </td>
    
    <td>
      <%= link_to item.from_page do %>
        <%= image_tag "/images/search_button_16.png" %>
      <% end %>
    </td>
    <td><%=count %></td>
  
  </tr>
<% end %>
</table>
